input[type="text"] {
    background-color: #f6f8fa;
    border: 2px solid #ebedf0;
    width: 20vw;
    height: 3vh;
    border-radius: 5px;
}

input::placeholder {
    padding-left: 10px;
    color: #b1b2b2;
}